<div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div id="photo-header" class="text-center">
            <!-- PHOTO (AVATAR) -->
            <div id="photo">
              <img src="images/myprofile.jpg" alt="avatar">
            </div>
            <div id="text-header">
             <h1> <br> Welcome to <span>Jing Zhu</span><sup>'s</sup> homepage</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-7">
          <!-- ABOUT ME -->
          <div class="box">
            <h2>About Me</h2>
            <p>I am currently a Ph.D. Student in the Department of Civil and Environmental Engineering at Tufts University. I work with Prof. Laurie Baise in the the <a href="http://geohazards.cee.tufts.edu/">Geohazards Research Lab</a>. My research focuses on methods development in liquefaction hazard assessment at a global scale and documentation of liquefaction using satellite imagery. I have a broad background in liquefaction, remote sensing, GIS, site response, and ground motion simulation.</p>
          </div>
          <!-- EDUCATION -->
          <div class="box">
            <h2>Education</h2>
            <ul id="education" class="clearfix">
              <li>
                <div class="year pull-left">2016</div>
                <div class="description pull-right">
                  <h3>Tufts University</h3>
                  <p><b><i>Ph.D.</i></b> (expected) in Geosystems Engineering
                  <br>Dissertation: “Geospatial Liquefaction Model for Global Use”
                  <br>Advisor: Laurie Baise</p>
                </div>
              </li>
              <li>
                <div class="year pull-left">2011</div>
                <div class="description pull-right">
                  <h3>University of Illinois at Urbana-Champaign</h3>
                  <p><b><i>M.S.</i></b> in Geotechnical Engineering
                  <br>Advisor: Youssef Hashash</p>
                </div>
              </li>
              <li>
                <div class="year pull-left">2009</div>
                <div class="description pull-right">
                  <h3>Huazhong University of Sicence and Technology</h3>
                  <p><b><i>B.S.</i></b> in Civil Engineering
                  <br>Advisor: Junjie Zheng</p>
                </div>
              </li>
            </ul>
          </div>
          <!-- EXPERIENCES -->
          <div class="box">
            <h2>Experiences</h2>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where">Internship</div>
                <div class="year">2015/5 - 2015/9</div>
              </div>  
              <div class="col-xs-9">
                <div class="profession">Idaho National Laboratory</div>
                <div class="description">Perform spectral ratio analysis and 1D site response analysis at nuclear sites.<br>Assess the effects of 2D wave propagation using numerical simulation in ABAQUS.</div>
              </div>
            </div>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where">Internship</div>
                <div class="year">2013/6 - 2013/8</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">FM Global</div>
                <div class="description">Evaluate the performance of a global liquefaction model in United States.<br>Investigate the potential of improving the global model by incorporating regional information about artificial fill.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5">
          <!-- CONTACT -->
          <div class="box clearfix">
            <h2>Contact</h2>
             <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
              <div class="title only pull-right">jing.zhu@tufts.edu</div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-phone fa-fw"></span></div>
              <div class="title only pull-right">(617) 627-3211</div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-linkedin-square fa-fw"></span></div>
              <div class="title pull-right">Linkedin</div>
              <div class="description pull-right">https://linkedin.com/WordPress</div>
            </div>  
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-home fa-fw"></span></div>
              <div class="title pull-right">Address</div>
              <div class="description pull-right">113 Anderson Hall, 200 College Avenue, <br>Medford, MA 02155</div>
            </div>
          </div>
          <!-- EXPERTISE-->
          <div class="box">
            <h2>Expertise</h2>
            <div class="skills">
              <div class="item-skills" data-percent="0.75">Liquefaction</div>
              <div class="item-skills" data-percent="0.5">Remote Sensing</div>
              <div class="item-skills" data-percent="0.5">Site Response</div>
              <div class="item-skills" data-percent="0.35">Ground Motion Simulation</div>
              <div class="skills-legend clearfix">
                <div class="legend-left legend"></div>
                <div class="legend-left legend"><span>Experienced</span></div>
                <div class="legend-right legend"><span>Expert</span></div>
                <div class="legend-right legend">Master</div>
              </div>
            </div>
          </div>
          <!-- LANGUAGES -->
         <!--  <div class="box">
            <h2>Languages</h2>
            <div id="language-skills">
              <div class="skill">Polish <div class="icons pull-right"><div style="width: 80%;" class="icons-red"></div></div></div>
              <div class="skill">English <div class="icons pull-right"><div style="width: 60%;" class="icons-red"></div></div></div>
            </div>
          </div> -->
          <!-- HOBBIES -->
          <div class="box">
            <h2>Technical Skills</h2>
            <div class="language">R</div>
            <div class="language">Python</div>
            <div class="software">ArcGIS</div>
            <div class="software">GDAL</div>
            <div class="software">GMT</div>
            <div class="software">ENVI</div>
          </div>
        </div>
      </div>
    </div>
   