<div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div id="text-header">
           <h1> <br> Publications</h1>
          </div>
        </div>
      </div>
      <div class="row">   
        <div class="col-md-12">
          <div class="box">
              <h2>Peer-Reviewed Journal Articles</h2>
        
                <p>Zhu, J., D. Daley, L. G. Baise, E. M. Thompson, D. J. Wald, and K. L. Knudsen
                (2015). A Geospatial Liquefaction Model for Rapid Response and Loss Estimation,
                Earthquake Spectra, Vol. 31, No. 3, pp. 1813-1837.</p>
                <p>Zhu, J., L. G. Baise, E. M. Thompson (2016). Updated geospatial liquefaction model
                for global use, Bulletin of the Seismological Society of America, submitted.</p>
                <p>Zhu, J., L. G. Baise, M. Koch. Mapping Earthquake Induced Liquefaction Surface
                Effects from the 2011 Tohoku Earthquake Using Satellite Imagery, IEEE Journal of
                Selected Topics in Applied Earth Observations and Remote Sensing, in preparation.
                Peer-Reviewed Conference Proceedings</p>   
              <hr>
            </div>
          </div>
      <div class="col-md-12">
        <div class="box">
              <h2>Peer-Reviewed Conference Proceedings</h2>
         
              <p>Zhu, J., L.G. Baise, M. Koch (2016). Mapping Earthquake Induced Liquefaction
              Surface Effects from the 2011 Tohoku Earthquake Using Satellite Imagery,
              International Geoscience and Remote Sensing Symposium (IGARSS), Beijing, China,
              July 10-15.</p>
              <p>Zhu, J., L.G. Baise, E.M. Thompson, and H. Magistrale (2014). Testing National and
              Regional Geospatial Liquefaction Models in the United States, 10th U.S. National
              Conference on Earthquake Engineering, Anchorage, Alaska, July 21-25.</p>
              <p>Zhu, J., L.G. Baise, E.M. Thompson, D. J. Wald and K. Knudsen (2013). Predicting
              the Spatial Extent of Liquefaction from Geospatial and Earthquake Specific
              Parameters, International Conference on Structural Safety and Reliability
              (ICOSSAR), New York, NY, June 16-20.
              August 2016 2 Jing Zhu</p>  
              <hr>
            </div>
      </div>
      <div class="col-md-12">
        <div class="box">
            <h2>Peer-Reviewed Reports</h2>
     
            <p>Allstadt, K., E.M. Thompson, D.J. Wald, M.W. Hamburger, J.W. Godt, K.L.
            Knudsen, R.W. Jibson, M.A. Jessee, J. Zhu, M. Hearne, L.G. Baise, H. Tanyas, and
            K.D. Marano (2016). USGS approach to real-time estimation of earthquake-triggered
            ground failure - Results of 2015 workshop, U.S. Geological Survey Open-File Report
            2016-1044.</p> 
            <hr>
          </div>
      </div>
      <div class="col-md-12">
        <div class="box">
              <h2>Abstracts and Conference Presentations</h2>
           
              <p>Allstadt K., M. Hearne, A. Nowicki, E. M. Thompson, D. J. Wald, J. Zhu (2017).
              Integrating Landslide and Liquefaction Hazard and Loss Estimates with Existing
              USGS Real-Time Earthquake Information Products, 16th World Conference on
              Earthquake Engineering, Santiago, Chile.</p> 
              <p>Zhu, J. and L. G. Baise.(2016). Updated Geospatial Liquefaction Model For Global
              Use, Seismological Research Letters, Vol 87, No. 2B, p. 578.</p>
              <p>Zhu, J., L. G. Baise, C. Bolisetti, J. L. Coleman (2015). Reassessing Site Effects in
              Idaho National Laboratory in Light of New Data, American Geophysical Union Fall
              Meeting, San Francisco, California.</p>
              <p>Zhu, J., L. G. Baise, E. M. Thompson (2015). Updated Geospatial Liquefaction
              Model For Global Use, Seismological Research Letters, Vol. 86, No. 2B, p. 718.</p>
              <p> Zhu, J., L.G. Baise, M. Koch, and A. Gaber (2014). Mapping Earthquake Induced
              Liquefaction Surface Effects from the 2011 Tohoku Earthquake Using Satellite
              Imagery, Seismological Research Letters, Vol 85, No. 2, p. 495.</p>
              <p>Zhu, J., L.G. Baise, E.M. Thompson, H. Magistrale, and D.J. Wald (2014). Updated
              Geospatial Liquefaction Model for Global Use, Seismological Research Letters, Vol
              85, No. 2, p. 496.</p>
              <p>Zhu, J., L. G. Baise, E. M. Thompson, D. J. Wald, and K. L. Knudsen (2013). A
              Geospatial Liquefaction Model for Rapid Response and Loss Estimation,
              Seismological Research Letters, Vol. 84, No. 2, p. 313.</p>
              <p>Wald, D. J., M. Hearne, E. M. Thompson, M. Nowicki, K. Lin, K. Johnson, J. Godt,
              K. L. Knudsen, J. Zhu, and L. G. Baise (2013). Incorporating Near-Real-Time
              Landslide and Liquefaction Estimates in ShakeCast and PAGER, Seismological
              Research Letters, Vol. 84, No. 2, p. 316.</p>
              <p>Thompson, E. M., B. Berry, J. Zhu, L. G. Baise, J. Ebel, and A. J. Rodgers (2013).
              Developing and Validating a Community Velocity Model for Boston, Seismological
              Research Letters, Vol. 84, No. 2, p. 300.</p>
              <p>Baise, L. G., D. Daley, J. Zhu, E. M. Thompson, and K. Knudsen (2012). Geospatial
              Liquefaction Hazard Model for Kobe, Japan and Christchurch, New Zealand,
              Seismological Research Letters, Vol. 83, No. 2, p. 458.</p>
              <hr>
            </div>
        </div>
      </div>
    </div>
   